[Unit]
After=network-online.target
[Service]
ExecStart=~/env/bin/python ~/PlantCabinetAutomation/main.py
Restart=always
User=collin
[Install]
WantedBy=default.target
